body {
    font-family: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1.1rem;
}

.ui {
    font-family: 'Lato', sans-serif !important;
}

.tabular .item:hover {
    color: #87ab36 !important;
}